# Archivos del sistema
desktop.ini
Thumbs.db

# Entornos
.env
.venv/
venv/
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/
.notebooks/

# Datos
datos/
*.csv
*.xlsx
*.parquet
*.feather
*.db
*.sqlite
*.duckdb

# Entregables
entregables/
reports/

# Archivos de log
*.log

# Configuración de IDE
.vscode/
.idea/
